<form [formGroup]="options" (ngSubmit)="send()" >



<mat-form-field>
  <mat-label>Tipo</mat-label>
  <mat-select>
    <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
      {{tipo.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field>
  <mat-label>Origen</mat-label>
  <mat-select>
    <mat-option *ngFor="let origen of origenes" [value]="origen.value">
      {{origen.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">

  <mat-select [formControl]="toppings" multiple>
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>



<button mat-raised-button color="primary" type="submit">Grabar</button>
<button mat-raised-button color="accent" type="button" (click)="cancelar()">Cancelar</button>


</form>