<!--txtNombre (Text Field)-->
<form [formGroup]="options" (ngSubmit)="send()" >

  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Inicial</mat-radio-button>
    <mat-radio-button value="2">Final</mat-radio-button>
  </mat-radio-group>

<mat-form-field class="example-full-width">
  <input type="text" formControlName="nombre" matInput placeholder="Nombre"/>
</mat-form-field>

<mat-form-field class="example-full-width">
  <input type="text" formControlName="estado" matInput placeholder="Estado"/>
</mat-form-field>
<mat-form-field class="example-full-width">
  <textarea type="text" formControlName="descripcion" matInput placeholder="Descripcion"></textarea>
</mat-form-field>


<button mat-raised-button color="primary" type="submit">Grabar</button>
<button mat-raised-button color="accent" type="button" (click)="cancelar()">Cancelar</button>


</form>